/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

#define DEFAULT 0
#define LWR     1
#define RAS     2
#define ADJ     3

&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

/ {
    combos {
    };
  };

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        hs: homerow_shift {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        am: amethyst_modifyers {
            compatible = "zmk,behavior-hold-tap";
            label = "AMETHYST_MODIFYER";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

        keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Default";
            bindings = <
        &kp ESC             &kp Q       &kp W       &kp E       &kp R                       &kp T                                       &kp Y            &kp U            &kp I                        &kp O           &kp P          &kp LA(BSPC)
        &mt LC(LS(LALT)) TAB  &kp A       &kp S       &kp D       &kp F                       &kp G               &kp PG_UP               &kp H            &kp J            &kp K                        &kp L           &kp SQT        &kp SEMI
        &mt LSHIFT HOME     &kp Z       &kp X       &kp C       &kp V                       &kp B               &kp PG_DN               &kp N            &kp M            &kp COMMA                    &kp DOT         &kp UP         &kp FSLH
        &mt LCTRL LC(TAB)   &kp LGUI    &mt LALT BSPC   &mt LALT BSPC    &lt LWR ENTER    &lt LWR ENTER     &none                   &lt RAS SPACE  &lt RAS SPACE  &mt LC(LS(LA(LGUI))) END     &kp LEFT        &kp DOWN       &kp RIGHT
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
                };

        lower_layer {
            label = "Lower";
            bindings = <
        &rgb_ug RGB_TOG     &kp EXCL    &kp AT          &kp HASH    &kp LA(N3)          &kp PRCNT                           &kp CARET         &kp AMPS         &kp ASTRK           &kp LPAR    &kp RPAR        &kp EQUAL
        &trans              &trans      &kp LA(LS(N2))  &kp DOLLAR  &trans              &trans              &trans          &rgb_ug RGB_HUI   &rgb_ug RGB_BRI  &rgb_ug RGB_SAI     &kp MINUS   &kp PLUS        &kp BSLH
        &trans              &trans      &trans          &trans      &trans              &trans              &trans          &rgb_ug RGB_HUD   &rgb_ug RGB_BRI  &rgb_ug RGB_SAD     &trans      &kp PG_UP       &kp FSLH
        &bootloader         &trans      &trans          &trans      &trans              &trans              &trans          &trans            &trans           &trans              &trans      &kp PG_DN       &trans
                        >;
                        sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOLUME_DOWN>;
                };
        raise_layer {
            label = "Raise";
            bindings = <
        &rgb_ug RGB_TOG     &kp N1      &kp N2      &kp N3      &kp N4         &kp N5                                       &kp N6            &kp N7          &kp N8          &kp N9          &kp N0         &kp EQUAL
        &kp F1              &kp F2      &kp F3      &kp F4      &kp F5         &kp F6                   &trans              &trans            &trans          &trans          &kp MINUS       &kp PLUS       &kp BSLH
        &kp F7              &kp F8      &kp F9      &kp F10     &kp F11        &kp F12                  &trans              &trans            &trans          &trans          &trans          &kp C_VOL_UP   &kp FSLH
        &none               &trans      &trans      &trans      &trans         &trans                   &trans              &trans            &trans          &trans          &kp LG(MINUS)   &kp C_VOL_DN   &kp LG(PLUS)
                        >;
                        sensor-bindings = <&inc_dec_kp LG(LS(RBKT)) LG(LS(LBKT))>;
                };
        adjust_layer {
            label = "Adjust";
            bindings = <
        &trans              &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3    &bt BT_CLR                                      &kp N6                  &kp N7        &kp N8        &kp N9      &kp N0          &none
        &none               &none        &none        &none        &none           &none                    &kp QMARK              &kp LEFT                &kp DOWN      &kp UP        &kp RIGHT   &trans          &none
        &none               &none        &none        &none        &none           &none                    &none                  &kp HOME                &kp PG_DN     &kp PG_UP     &kp END     &none           &none
        &none               &none        &none        &trans       &none           &trans                   &none                  &trans                  &none         &trans        &none       &none           &trans
                        >;
                        sensor-bindings = <&inc_dec_kp LG(LS(LBKT)) LG(LS(RBKT))>;
                };
        };
};
